# Old player's skills, young player's skills #

This is the story of Kevin Maas. Who? Exactly.

Based on, "Why Was Kevin Maas a Bust?", by Nate Silver.

### Who was Kevin Maas? ###
In 1990, the NY Yankees were really bad. Their first baseman, Don Mattingly, was hurt and they brought up minor leaguer Kevin Maas to fill in. Maas was old for a minor leaguer, 25, and he had bad knees. He was sub-par defensively and struck out 20\% of the time. But, he could hit the ball hard and draw walks. 

When he joined the Yankeees in July, he hit 10 HR in his first 77 AB, making him the fastest player in MLB history to hit 10 HR. He was a star, and many sports writers and players called him "the real thing". He finished the season with 21 HR even though he only played half the season.

The next season, he hit 8 HR before Memorial Day, but then went into a slump. He finished the season with a BA of .220 as pitchers learned how to exploit his weaknesses. In 1992, his struggles continued and he was moved back to the Minor Leagues. At the start of the 1993 season, the Yankees released him. He was out of baseball.


### Old player's skills and young player's skills ###
In the 1990s, the use of analytics in baseball was not what it is today. The argument around Maas was the no one could have predicted his rapid rise, or his rapid decline. Maybe even with today's analytics it couldn't be predicted. Who knows? 

In 1987, Bill James introduced the idea of __Old player's skills__ and __Young player's skills.__ James argued that players lose speed and batting average as they age and they learn to rely more on power and walks. Speed and batting average are young player's skills. Power and walks are old player's skills, and young players with old player's skills will deteriorate more quickly, which ultimately results in shorter careers. Kevin Maas possessed old player's skills. He was slow and had a lower batting average. But, he could hit for power and draw walks.

### A study with data ###
What would it take to find young players with old player's skills in the data. In one study, the author, Nate Silver, identified 26 players who had:

* 300+ PA
* 25 years old
* Top quartile for walks
* Bottom quartile for speed (not sure how he did this)
* Above median for isolated power
* BA below the median 

The list of the players included:

* Bob Bailey
* Jeff Burroughs
* __Ron Cey__
* Tony Clark
* Darnell Coles
* Clay Dalrymple
* Mike Epstein
* Tommy Glaviano
* Willie Greene
* __Ralph Kiner__
* Dick Kokos
* Kevin Maas
* __Mark McGwire__
* Denis Menke
* Eric Munson
* Dan Pasqua
* Bob Robertson
* Gary Roenicke
* Pat Seerey
* Bill Serena
* Roy Smalley
* Chris Speier
* John Stearns
* Fernando Tatis
* Tim Teufel
* __Robin Ventura__

Results showed one Hall of Famer and three with very distinguished careers. The rest didn't do much. 

The author compared players with Old Player's skills since WWII to a control group - Age 25, 300 PA, and showed a dip in performance for OPS compared to the control. Especially in the late 20s performance drops off compared to control and performed worse overall by about 10 runs per season, which is about 1 win. 

### Identifying player types ###
If we can identify two categories of players, old and young player's skills, can we identify other categories of players, and then use their category to project their career path. For example, maybe speedy second basemen can play forever.  

### Criteria for comparison ###
Establish a baseline of performance over a few years for set of variables: Power, walks, body type, speed. Use baseline and player's age to predict future performance. 

The first question: How consistent are common statistics for measuring year-to-year performance for a player. 

| Stat | Corr Coef |
|---|---|
| BA | 0.43 |
| ISO | 0.76 |
| BB | 0.76 |
| SO | 0.83 |
| SB | 0.81 |


For ISO, BB, SO, and SB, the correlations are pretty high. However, for BA, that's not the case, which tells us that BA is much more subject to randomness than the other stats and less predictive of year-to-year performance. 

### Regression to the mean ###
Regression to the mean means that a value will move away from extremes and towards a baseline value. You'll hear this term a lot in life.

* Players with an unusually high BA are likely to see their BA decline in the next season. 

* Players with a low BA and a low SO rate are likely to see an increase in BA the next season. They've been unlucky.

* Players with many 2B and few HR is likely to see an increase in HR in the following season and a decrease in 2B.

* Players with high BB rate, but low ISO, can expect to see an increase in ISO in next season. Players tend to hit for power in deeper counts.

* Coversely, players with high HR can expect pitchers to be more careful and they will get more BB.

### Player types and career path ###
In 1982, Bill James evaluated the offensive statistics for thousands of baseball players and found that the greatest number of players peak at age 27. Until that time, most people thought that players peaked between 28-32. 

James's finding had implications for free agency and teams evaluating free agent talent. Players can't become free agents until they've been in the league for 6 years, which typically happens between ages 28-30. Teams signing a 29-year-old free agent have to be leary of what they're getting. How quickly is that player going to decline? 

James produced a graph showing average EqR vs. Age for all players he evaluated. 

### Career path categories ###
James's graph shows the average EqR. But, coming back to our original questions of categories of players and old player's and young player's skills, Are there also categories of decline for players? Can we expect a player with a certain type of skill set to decline faster than another player with a different skill set? 

Assume three hypothetical players:
* Eddie Early - best year at age 23
* Pete Peaky - valuable between 24-29, but not before or after
* Len Latebloom - best year at age 31.

There are plenty of players who fit these three categories. James isn't saying that these are the three categories, only that there are players who fit these descriptions. 

The average career trajectory doesn't predict very well how these players will perform as their careers progress. 

### Multiple skills ###
Players who do multiple things well tend to age better than players who only do one thing well. For example, players with both speed and power will age better than players with just speed or just power. 

# Questions #
1. Can you reproduce the BA and SO correlation results from above using two consecutive years data? Use players who had at least 200 AB in both seasons.
2. Find a few players who had a low BA and low SO rate in one year. What happened to their BA in the next year?
3. Similar to Question 2, find players who had a high SO rate in one year. What happened to their stats the next year? (To answer this, you might need to include players with fewer than 200 AB in your search.)
4. Can you find players whose salary increased dramatically one year, and their performance decreased dramatically in the following year?

## 1.

In [2]:
from pybaseball import batting_stats

In [4]:
df_batting = batting_stats(2014, 2016)

In [25]:
df_batting = df_batting.loc[df_batting["AB"] > 200]
df_batting["SO_rate"] = df_batting["SO"] / df_batting["PA"]
df_batting["BA"] = df_batting["H"] / df_batting["AB"]

In [26]:
df_ba_so = df_batting[["Season", "Name", "H", "AB", "BA", "SO", "SO_rate"]].copy()

In [27]:
df_ba_so.corr()

           Season         H        AB        BA        SO   SO_rate
Season   1.000000  0.009387  0.004338  0.004502  0.066744  0.072915
H        0.009387  1.000000  0.960807  0.652389  0.512640 -0.382533
AB       0.004338  0.960807  1.000000  0.435456  0.625577 -0.297520
BA       0.004502  0.652389  0.435456  1.000000  0.020329 -0.435358
SO       0.066744  0.512640  0.625577  0.020329  1.000000  0.516883
SO_rate  0.072915 -0.382533 -0.297520 -0.435358  0.516883  1.000000

## 2.

In [40]:
df_batting.loc[(df_batting["SO_rate"] < 0.25) & (df_batting["Season"] == 2015) &
               (df_batting["Name"].isin(df_batting.loc[df_batting["Season"] == 2016]["Name"]))].sort_values(by=["BA", "SO_rate"])[["Season", "Name", "Team", "BA", "SO_rate"]].head(20)

      Season            Name          Team        BA   SO_rate
1075  2015.0      Matt Joyce        Angels  0.174089  0.235915
1006  2015.0  Gordon Beckham     White Sox  0.208531  0.181435
1081  2015.0         Jon Jay     Cardinals  0.209524  0.146939
1054  2015.0     Carlos Ruiz      Phillies  0.211268  0.134375
955   2015.0     Chase Utley         - - -  0.211796  0.151300
1161  2015.0   Danny Santana         Twins  0.214559  0.245487
648   2015.0    Steve Pearce       Orioles  0.217687  0.212308
1078  2015.0   Leonys Martin       Rangers  0.218750  0.222581
1102  2015.0      J.J. Hardy       Orioles  0.218978  0.201373
906   2015.0    Jose Ramirez       Indians  0.219048  0.109859
736   2015.0    Jayson Werth     Nationals  0.220544  0.222222
671   2015.0      Jed Lowrie        Astros  0.221739  0.163498
476   2015.0   Luis Valbuena        Astros  0.223502  0.215010
1030  2015.0  Tyler Saladino     White Sox  0.224576  0.200787
756   2015.0  Logan Morrison      Mariners  0.225383  0.158513
938   2015.0      Nick Ahmed  Diamondbacks  0.225653  0.176471
1092  2015.0  Billy Hamilton          Reds  0.225728  0.165198
641   2015.0       Jay Bruce          Reds  0.225862  0.223421
1096  2015.0   Ichiro Suzuki       Marlins  0.228643  0.116438
1025  2015.0    Wilson Ramos     Nationals  0.229474  0.200397

Matt Joyce 2015
Jon Jay 2015
Carlos Ruiz 2015

In [41]:
df_batting.loc[(df_batting["Season"] == 2016.0) &
               (df_batting["Name"].isin(["Matt Joyce", "Jon Jay", "Carlos Ruiz"]))][["Season", "Name", "Team", "BA", "SO_rate"]]

     Season         Name     Team        BA   SO_rate
129  2016.0   Matt Joyce  Pirates  0.242424  0.228669
530  2016.0      Jon Jay   Padres  0.291066  0.209115
511  2016.0  Carlos Ruiz    - - -  0.263682  0.141631

Matt Joyce's BA improved by quite a bit but his SO rate stayed the same. Jon Jay's BA went up by a similar amount but his SO rate also increased. Carlos Ruiz improved in BA and has SO rate stayed the same.

## 3.

In [39]:
df_batting.loc[(df_batting["SO_rate"] < 0.32) & (df_batting["Season"] == 2015) &
               (df_batting["Name"].isin(df_batting.loc[df_batting["Season"] == 2016]["Name"]))].sort_values(by=["SO_rate"], ascending=False)[["Season", "Name", "Team", "BA", "SO_rate"]].head(20)

     Season               Name       Team        BA   SO_rate
334  2015.0       Colby Rasmus     Astros  0.238426  0.317526
152  2015.0     Randal Grichuk  Cardinals  0.275542  0.314286
104  2015.0        Chris Davis    Orioles  0.261780  0.310448
953  2015.0  Michael A. Taylor  Nationals  0.228814  0.309198
872  2015.0       Jason Castro     Astros  0.210682  0.306667
146  2015.0        Kris Bryant       Cubs  0.275492  0.306154
603  2015.0        Jorge Soler       Cubs  0.262295  0.299505
96   2015.0  Giancarlo Stanton    Marlins  0.265233  0.298742
778  2015.0        Ian Desmond  Nationals  0.233276  0.291732
378  2015.0       Joc Pederson    Dodgers  0.210417  0.290598
954  2015.0      Chris Johnson      - - -  0.255144  0.290196
840  2015.0      Tyler Flowers  White Sox  0.238671  0.288089
691  2015.0    Addison Russell       Cubs  0.242105  0.284895
837  2015.0     Jake Marisnick     Astros  0.235988  0.282258
651  2015.0       Brandon Moss      - - -  0.226013  0.281369
612  2015.0      Mark Reynolds  Cardinals  0.230366  0.280093
234  2015.0        Khris Davis    Brewers  0.247449  0.277273
655  2015.0        Ryan Howard   Phillies  0.229122  0.274354
462  2015.0   Melvin Upton Jr.     Padres  0.258537  0.271930
137  2015.0      J.D. Martinez     Tigers  0.281879  0.270928

Colby Rasmus 2015
Randal Grichuk 2015
Chris Davis 2015

In [42]:
df_batting.loc[(df_batting["Season"] == 2016.0) &
               (df_batting["Name"].isin(["Colby Rasmus", "Randal Grichuk", "Chris Davis"]))][["Season", "Name", "Team", "BA", "SO_rate"]]

     Season            Name       Team        BA   SO_rate
328  2016.0     Chris Davis    Orioles  0.220848  0.329323
469  2016.0  Randal Grichuk  Cardinals  0.239910  0.294979
893  2016.0    Colby Rasmus     Astros  0.205962  0.290168

All of these players maintained a similar SO rate and BA.

## 4.

In [45]:
from pybaseball import lahman

sal = lahman.salaries()

In [77]:
batting = lahman.batting()
batting = batting.loc[batting["AB"] > 200]

In [78]:
sal = sal.loc[sal["yearID"].isin(["2015", "2016"])]

In [79]:
from pybaseball import playerid_lookup

In [80]:
import pandas as pd

In [81]:
b_and_s = pd.merge(batting, sal, on=["yearID", "teamID", "playerID", "lgID"], how="inner")

In [82]:
b_and_s2015 = b_and_s.loc[b_and_s["yearID"] == 2015]
b_and_s2016 = b_and_s.loc[b_and_s["yearID"] == 2016]

In [86]:
b_and_s = b_and_s.loc[(b_and_s["playerID"].isin(b_and_s2015["playerID"])) &
                      (b_and_s["playerID"].isin(b_and_s2016["playerID"]))]
b_and_s["BA"] = b_and_s["H"] / b_and_s["AB"]

In [96]:
b_and_s.groupby("playerID").filter(lambda x: x.iloc[1]["salary"] - x.iloc[0]["salary"] > 1000000 and
                                   x.iloc[0]["BA"] - x.iloc[1]["BA"] > 0.05).sort_values(by=["playerID", "yearID"])

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,CS,BB,SO,IBB,HBP,SH,SF,GIDP,salary,BA
95,gomesya01,2015,1,CLE,AL,95,363,38,84,22,...,0.0,13,104.0,1.0,7.0,0.0,6.0,11.0,1000000,0.231405
346,gomesya01,2016,1,CLE,AL,74,251,22,42,11,...,0.0,9,69.0,0.0,2.0,0.0,2.0,7.0,2583333,0.167331
187,parrage01,2015,1,MIL,NL,100,323,53,106,24,...,3.0,20,57.0,2.0,3.0,1.0,4.0,7.0,6237500,0.328173
404,parrage01,2016,1,COL,NL,102,368,45,93,27,...,4.0,9,73.0,1.0,1.0,1.0,2.0,16.0,8000000,0.252717

In [98]:
from pybaseball import playerid_reverse_lookup

In [104]:
playerid_reverse_lookup(["gomesya01", "parrage01"], key_type="bbref")

Gathering player lookup table. This may take a moment.

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
0,gomes,yan,543228,gomey001,gomesya01,9627,2012.0,2018.0
1,parra,gerardo,467827,parrg001,parrage01,8553,2009.0,2018.0

Yan Gomes and Gerardo Parra experienced large increases in salary (> \$1,000,000) and large decreases in BA (> 0.05) from 2015 to 2016.